:root {
  --base: #ffc600;
  --frame: 20px;
  --blur: 0px;
}

img {
  border: var(--frame) solid var(--base);
  background: var(--base);
  filter: blur(var(--blur));
  width: 80vw;
  margin: 0 auto;
}

h2 {
  color: var(--base);
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
